<html lang="en">

<head>

    <title>Contact | Luke Matuza Photography</title>

    <!-- Bootstrap meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
    <link rel="stylesheet" href="../static/style.css">

    <!-- JavaScript -->
    <!-- These are needed to get the responsive menu to work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>

    <!-- Custom styles for this template -->
    <style type="text/css">
    </style>
</head>

<body>
    <!---------------------------------- Begin the nav-bar ------------->
    <div class="menu">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Luke Matuza </br>Photography</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Edit These Items in your Menu ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
                    <a href="/" class="nav-item nav-link">home</a>
                    <a href="/about" class="nav-item nav-link">about</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            photos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/photos/landscapes">landscapes</a>
                            <a class="dropdown-item" href="/photos/portraits">portraits</a>
                        </div>
                    </li>
                    <a href="/contact" class="nav-item nav-link active">contact</a>
                    <!----------------------------------^ Edit These Items in your Menu ^ ------------->
                </div>
            </div>
        </nav>
    </div>
    <!---------------------------------- End the nav-bar ------------->

    <p>Feel free to contact me here for any questions or work:</p>

    <form action="submit_form" method="post">
        <div class="form-group">
            <label for="name1">Full Name</label>
            <input name="name" type="text" class="form-control" id="name" aria-describedby="name"
                placeholder="enter name" minlength="3">
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input name="email" type="email" class="form-control" id="email" aria-describedby="email"
                placeholder="enter email" minlength="3">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <input name="message" type="text" class="form-control form-message" id="message" aria-describedby="message"
                placeholder="enter message" autocomplete="off" minlength="3">
        </div>
        <button type="submit" class="btn btn-primary" onclick="">Submit</button>
    </form>

</body>

<!--Footer-->
<footer class="footer">
    <div style="text-align: center;">
        <a href="https://www.instagram.com/lukejmatuza/" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/luke-matuza-b2529021b/" class="fa fa-linkedin"></a>
        <a href="https://github.com/lukebluetiger" class="fa fa-github"></a>
    </div>
    <div class="copyright">
        &copy; 2023 Luke Matuza Photography
    </div>
</footer>

</html>