<html lang="en">

<head>

    <title>Portraits | Luke Matuza Photography</title>
    <!-- Bootstrap meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
    <link rel="stylesheet" href="../static/style.css">

    <!-- JavaScript -->
    <!-- These are needed to get the responsive menu to work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>

    <!-- Custom styles for this template -->
    <style type="text/css">

    </style>
</head>

<body>
    <!---------------------------------- Begin the nav-bar ------------->
    <div class="menu">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Luke Matuza </br>Photography</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <!--↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Edit These Items in your Menu ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
                    <a href="index.html" class="nav-item nav-link">home</a>
                    <a href="about.html" class="nav-item nav-link">about</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            photos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="landscapes.html">landscapes</a>
                            <a class="dropdown-item" href="portraits.html">portraits</a>
                        </div>
                    </li>
                    <a href="contact.html" class="nav-item nav-link">contact</a>
                    <!----------------------------------^ Edit These Items in your Menu ^ -------->
                </div>
            </div>
        </nav>
    </div>
    <!---------------------------------- End the nav-bar ------------->

    <!-- The grid: four columns -->
    <div class="row">
        <div class="column">
            <img src="../images/portraits/1.jpg" onclick="openModal(); currentSlide(1)">
            <img src="../images/portraits/2.jpg" onclick="openModal(); currentSlide(2)">
        </div>
        <div class="column">
            <img src="../images/portraits/3.jpg" onclick="openModal(); currentSlide(3)">
            <img src="../images/portraits/4.jpg" onclick="openModal(); currentSlide(4)">
        </div>
        <div class="column">
            <img src="../images/portraits/5.jpg" onclick="openModal(); currentSlide(5)">
            <img src="../images/portraits/6.jpg" onclick="openModal(); currentSlide(6)">
        </div>
        <div class="column">
            <img src="../images/portraits/7.jpg" onclick="openModal(); currentSlide(7)">
            <img src="../images/portraits/8.jpg" onclick="openModal(); currentSlide(8)">
        </div>
    </div>

    <!-- The expanding image container -->
    <div class="modal" id="my-modal">
        <!--Modal Content-->
        <div class="modal-content">
            <!--Modal Header-->
            <div class="modal-header">
                <!--Close Button-->
                <span class="close" onclick="closeModal()">&times;</span>
                <!--Previous and Next Buttons-->
                <a class="prev" onclick="changeSlides(-1)">&#10094;</a>
                <a class="next" onclick="changeSlides(1)">&#10095;</a>

                <!--Index-->
                <span class="numbertext" id="index-number"></span>
            </div>
            <!--Modal Body-->
            <div class="modal-body">
                <!--Slide Show-->
                <div class="my-slides" data-index-number="1 / 8">
                    <img src="../images/portraits/1.jpg" class="portrait-image image" alt="">
                </div>
                <div class="my-slides" data-index-number="2 / 8">
                    <img src="../images/portraits/2.jpg" class="landscape-image image" alt="">
                </div>
                <div class="my-slides" data-index-number="3 / 8">
                    <img src="../images/portraits/3.jpg" class="portrait-image image" alt="">
                </div>
                <div class="my-slides" data-index-number="4 / 8">
                    <img src="../images/portraits/4.jpg" class="portrait-image image" alt="">
                </div>
                <div class="my-slides" data-index-number="5 / 8">
                    <img src="../images/portraits/5.jpg" class="portrait-image image" alt="">
                </div>
                <div class="my-slides" data-index-number="6 / 8">
                    <img src="../images/portraits/6.jpg" class="portrait-image image" alt="">
                </div>
                <div class="my-slides" data-index-number="7 / 8">
                    <img src="../images/portraits/7.jpg" class="portrait-image image" alt="">
                </div>
                <div class="my-slides" data-index-number="8 / 8">
                    <img src="../images/portraits/8.jpg" class="portrait-image image" alt="">
                </div>
            </div>

            <!--Modal Footer-->
            <div class="modal-footer">
                <!--From alt attribute-->
                <p id="caption"></p>
            </div>
        </div>
    </div>

</body>

<!--Footer-->
<footer class="footer">
    <div style="text-align: center;">
        <a href="https://www.instagram.com/lukejmatuza/" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/luke-matuza-b2529021b/" class="fa fa-linkedin"></a>
        <a href="https://github.com/lukebluetiger" class="fa fa-github"></a>
    </div>
    <div class="copyright">
        &copy; 2023 Luke Matuza Photography
    </div>
</footer>

</html>